.App {
  background-image: url(../src/assets/img/fondo2.jpg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
}

.boxneon {
  box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.28);
}

.efecto:hover {
  transform: scale(1.06);
  border: 4px solid rgb(9, 177, 168);
  border-image: linear-gradient(to bottom, #3acfd5 0%, #758807 100%) 1;
}

.efecto {
  transition-duration: 0.3s;
  transition-timing-function: ease-in;
  transition-delay: 0.2s;
}
